<div class="footer">
    <div class="footer-links">
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
        <a routerLink="/faqs">FAQs</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="footer-social">
        <a href="https://facebook.com" target="_blank">
            <i class="pi pi-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank">
            <i class="pi pi-twitter"></i>
        </a>
    </div>
    <p class="footer-copyright">&copy; 2025 Online Store. All Rights Reserved.</p>
</div>
